body {
  background-image: url('./blitzbg10_enhanced.jpg');
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;
  height: 100vh;  
  margin: 0; 
  overflow: hidden;
}

