html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden; 
}

body {
  margin: 0;
  padding: 0;
}
.landingpage{
  margin: 0;
  padding: 0;
  background-image: url('https://ucarecdn.com/a378dfc5-160d-42f0-a904-8ecd57bcec83/-/preview/1000x514/');
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;
  height: 100vh;  
  width: 100%;
  
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  width: 100%;
  background-color: white;
  color: black;
  position: fixed;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 0;
  z-index: 1000;
}

.logo{
  font-size: 1.5rem;
  font-weight: bold;
}

.logo-img {
  max-height: 10vh;  
  margin-left: 3vw;
}
a{
  color: black;
  text-decoration: none;
  margin: 0px 10px;
  font-size: 3vh;
}
a:hover{
  font-weight: bold;
}

.nav-links {
  padding-right: 5vw;
}
.signupland{
  background-color: rgb(250 204 21 );
  border: none;
  height:5vh ;
  width: 6vw;
  border-radius: 10px;
  font-size: 1rem;
}
.loginland {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  border: none;
  height:5vh ;
  width: 5vw;
  border-radius: 10px;
  background-color: transparent;
  background-image: none;
}

.loginland:hover {
  background-color: rgb(227, 221, 221);
}
 .container {
  height: 80vh;    
  display: flex;
  justify-content: center;
  align-items: center;      
  padding-top: 40vh; 
}
.content h1{
  font-size: 6rem;
  font-weight: 800;
  color: rgba(2, 28, 52, 0.964); 
  margin: 0;
  height: 12vh;
  width: 100%;
  animation: scale-in-out 2s infinite ease-in-out;
  font-family: 'Times New Roman', Times, serif;
}

@keyframes scale-in-out {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

h2{
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h5{
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10vw;
  background-color: #f9f9f9;
}

.about-text {
  width: 50%;
}

.about-text h2{
  font-size: 4vw;
  color: rgba(2, 28, 52, 0.812);
  width:500px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about-text p {
  font-size: 1.5rem;
  line-height: 1.6;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-image {
  width: 50%;
}

.brain-img {
  border-radius: 10px;
  animation: scale-in-out 2s infinite ease-in-out;
}
.contact-section {
  padding: 50px 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.contact-section h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #05305b;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-info {
  margin: 0 auto;
  max-width: 800px;
  text-align: left;
}

.contact-info h3 {
  font-size: 2rem;
  margin-top: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-info p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-info a {
  color: #0073e6;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-info a:hover {
  text-decoration: underline;
}

.social-media ul {
  list-style: none;
  padding: 0;
}

.social-media ul li {
  margin: 10px 0;
}
footer p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  width: 100%;
  height: 50px;
  background-color: #f4f4f4;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



@media (max-width: 750px) {
  .navbar {
    flex-direction: column;
    height: 12vh;
  }
  .signupland, .loginland {
    width: 100%;
    font-size: 1rem;
  }

  .logo-img {
   display: none;
  }

  .nav-links {
    padding-top: 10px;
    display: flex;
  }

  .container {
    padding-top: 20vh;
    text-align: center;
  }

  .content  h1 {
    font-size: 3rem;
  }

  .about-section {
    flex-direction: column;
    padding: 5vw;
  }
  .about-text h2{
    font-size: 2rem;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: flex start;
  } 

  .about-text,
  .about-image {
    width: 100%;
    text-align: center;
  }

  .contact-section {
    padding: 30px 10px;
  }

  .contact-info {
    text-align: center;
  }

  .social-media ul {
    padding: 0;
  }

  footer p {
    font-size: 1rem;
  }
  .brain-img {
    max-width: 100%;
    height: auto; 
  }
}

@media (max-width: 350px) {
  .navbar {
    flex-direction: column;
    height: 12vh;
  }

  .logo-img {
   display: none;
  }

  .nav-links {
    display: flex;

  }

  .container {
    padding-top: 20vh;
    text-align: center;
  }
  .content h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.2rem;
  }
 .about-text h2{
    font-size: 2rem;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: flex start;
  } 
  .about-text p{
    font-size: 1.5rem;
  }
   .about-section {
    flex-direction: column;
    align-items: center; 
    padding: 5vw; 
  }

  .about-text {
    width: 100%; 
    text-align: center; 
    margin-bottom: 20px; 
  }

  .about-image {
    width: 80%; 
    text-align: center;
  }

  .brain-img {
    max-width: 100%; 
    height: auto; 
  }
  .signupland, .loginland {
    width: 100%;
    font-size: 1rem;
  }
  .contact-section h2 {
    font-size: 2rem;
  }
  .contact-info h3 {
    font-size: 1.2rem;
  }
}

