/* login.css */

.login-container {
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url('./signup_enhanced.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}
  
  h2 {
    text-align: center;
    color: #0e0000;
    margin-bottom: 20px;
  }
  
  .login-form {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(15, 2, 2, 0.1);
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #0a0000;
  }
  
  input {

    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  input:focus {
    border-color: #5e9ed6;
    outline: none;
  }
  
  .login-btn {
    padding: 12px;
    background-color: #5e9ed6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
    margin-top:10px ;
  }
  
  .login-btn:hover {
    background-color: #4a8cc2;
  }
  
  /* Styling for the "Don't have an account?" link */
  .signup-link {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .signup-link p {
    color: #1a0606;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .signup-link a {
    color: #5e9ed6;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
    
  .login-btun {
    font-size: 1.2rem;
  }
  